In [1]:
import pandas as pd
import seaborn as sn

In [2]:
steel=pd.read_csv("Steel_Export( In tonnes).csv")

In [3]:
steel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      19 non-null     object
 1   Sub-Category  19 non-null     object
 2   2013-14       19 non-null     int64
 3   2014-15       19 non-null     int64
 4   2015-16       19 non-null     int64
 5   2016-17       19 non-null     int64
 6   2017-18       19 non-null     int64
dtypes: int64(5), object(2)
memory usage: 1.2+ KB

In [4]:
steelstr=pd.read_csv("steel_strength.csv")

In [5]:
steelstr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   formula           312 non-null    object
 1   c                 312 non-null    float64
 2   mn                312 non-null    float64
 3   si                312 non-null    float64
 4   cr                312 non-null    float64
 5   ni                312 non-null    float64
 6   mo                312 non-null    float64
 7   v                 312 non-null    float64
 8   n                 312 non-null    float64
 9   nb                312 non-null    float64
 10  co                312 non-null    float64
 11  w                 312 non-null    float64
 12  al                312 non-null    float64
 13  ti                312 non-null    float64
 14  yield strength    312 non-null    float64
 15  tensile strength  312 non-null    float64
 16  elongation        303 non-null    float64
dtypes: float64(16), object(1)
memory usage: 41.6+ KB

In [6]:
steelstr.isnull().sum()

formula             0
c                   0
mn                  0
si                  0
cr                  0
ni                  0
mo                  0
v                   0
n                   0
nb                  0
co                  0
w                   0
al                  0
ti                  0
yield strength      0
tensile strength    0
elongation          9
dtype: int64

In [7]:
steel.isnull().sum()

Category        0
Sub-Category    0
2013-14         0
2014-15         0
2015-16         0
2016-17         0
2017-18         0
dtype: int64

In [8]:
steel.head()

,Category,Sub-Category,2013-14,2014-15,2015-16,2016-17,2017-18
0,Non-Alloy Finished Steel,Non-Flat Products of Non-Alloy Finished Steel,585,392,365,629,2042
1,Non-Alloy Finished Steel,Non-Flat Products of Non-Alloy Finished Steel,65,83,81,160,173
2,Non-Alloy Finished Steel,Non-Flat Products of Non-Alloy Finished Steel,1,3,2,83,43
3,Non-Alloy Finished Steel,Non-Flat Products of Non-Alloy Finished Steel,651,478,448,872,2258
4,Non-Alloy Finished Steel,Flat Products of Non-Alloy Finished Steel,155,559,266,301,491

In [9]:
steelstr.head()

,formula,c,mn,si,cr,ni,mo,v,n,nb,co,w,al,ti,yield strength,tensile strength,elongation
0,Fe0.620C0.000953Mn0.000521Si0.00102Cr0.000110N...,0.02,0.05,0.05,0.01,19.70,2.95,0.01,0.00,0.01,15.00,0.00,0.15,1.55,2411.5,2473.5,7.0
1,Fe0.623C0.00854Mn0.000104Si0.000203Cr0.147Ni0....,0.18,0.01,0.01,13.44,0.01,3.01,0.46,0.04,0.01,19.46,2.35,0.04,0.00,1123.1,1929.2,8.0
2,Fe0.625Mn0.000102Si0.000200Cr0.0936Ni0.129Mo0....,0.00,0.01,0.01,8.67,13.45,0.82,0.01,0.00,0.01,13.90,0.00,0.39,0.57,1736.3,1871.8,NaN
3,Fe0.634C0.000478Mn0.000523Si0.00102Cr0.000111N...,0.01,0.05,0.05,0.01,17.70,3.95,0.01,0.00,0.01,15.00,0.00,0.13,1.47,2487.3,2514.9,9.0
4,Fe0.636C0.000474Mn0.000518Si0.00101Cr0.000109N...,0.01,0.05,0.05,0.01,19.40,1.45,0.01,0.00,0.01,14.90,0.00,0.13,1.55,2249.6,2315.0,8.5

In [10]:
steel.shape

(19, 7)

In [11]:
steelstr["ni"].value_counts()

0.01     54
10.30    10
18.10     9
0.95      9
10.20     8
         ..
9.20      1
8.32      1
4.18      1
10.15     1
15.20     1
Name: ni, Length: 150, dtype: int64

In [12]:
steelstr["elongation"].value_counts()

16.0    19
12.0    15
18.0    14
15.0    12
14.0    10
        ..
12.9     1
14.1     1
20.8     1
21.8     1
19.7     1
Name: elongation, Length: 98, dtype: int64

In [14]:
a=steelstr["elongation"].mean()

In [17]:
steelstr["elongation"].fillna(a,inplace=True)

In [18]:
steelstr["elongation"].isnull().sum()

0